.console {
    padding-left: 15% !important;
    padding-right: 15% !important;
    margin-top: 400px !important;
    background: white;
    font-size: 87.5%;
}

.arrowRight {
    height: 0.75em !important;
    color: #EF233C !important;
}