.console {
    font-size: 87.5%;
    position: relative;
}

.arrowRight {
    height: 0.75em !important;
    color: #D90429 !important;
}

.warningIcon {
    height: 0.75em !important;
    color: #ffcd3b !important;
    padding-bottom: 0.1em;
}

.errorIcon {
    height: 0.72em !important;
    color: #EF233C !important;
    padding-bottom: 0.1em;
}

.sticky {
    margin-bottom: 3% !important;
    background: white !important;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.log {
    border-bottom: 1px solid #EDF2F4;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lastLog {
    padding-top: 1px;
    padding-bottom: 1px;
}

.warning {
    background: #fcffbd;
}

.error {
    background: #ffdbe0;
}

.consoleBreak {
    background: #EDF2F4;
    width: 100% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.consoleInput {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15% !important;
    padding-right: 15% !important;
    border-bottom: 3px solid #dcdfe0 !important;
}

.consoleLogs {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 3px solid #dcdfe0 !important;
}