.console {
    font-size: 87.5%;
    position: relative;
}

.arrowRight {
    height: 0.75em !important;
    color: #EF233C !important;
}

.warningIcon {
    height: 0.75em !important;
    color: #8D99AE !important;
    padding-bottom: 0.1em;
}

.sticky {
    padding-left: 15% !important;
    padding-right: 15% !important;
    padding-bottom: 3% !important;
    background: white !important;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.log {
    border-bottom: 1px solid #EDF2F4 !important;
}

.warning {
    background: #fcffbd;
}