.solo {
    margin-top: 3% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

.codeBlock {
    tab-size: 4;
    white-space: pre-wrap;
    border-bottom: 3px solid #dcdfe0 !important;
}

.overlay {
    display: block;
    overflow-x: auto;
    padding: 0.5em 15%;
    color: transparent; /* change to transparent */
    background: transparent; /* change to transparent */
    white-space: pre-wrap;
    margin-bottom: 0px;
    font-size: 87.5%;
    margin-top: 0;
    overflow: auto;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.lineNumbers {
    float: left; 
    padding-right: 10px;
    color: transparent; /* change to transparent */
}

.current {
    display: inline !important;
    -webkit-animation: 700ms blink step-end infinite;
    -moz-animation: 700ms blink step-end infinite;
    -ms-animation: 700ms blink step-end infinite;
    -o-animation: 700ms blink step-end infinite;
    animation: 700ms blink step-end infinite;
    color: #2B2D42;
    font-weight: bold;
}

.incorrect {
    display: inline !important;
    background: #2B2D42 !important;
    color: #EDF2F4 !important;
}

.pressEnter {
    width: 0.70em !important;
    height: 0.75em !important;
}

.backspace {
    width: 0.70em !important;
    height: 0.75em !important;
    padding-bottom: 0.13em !important;
    -webkit-animation: 700ms blinkBackspace step-end infinite;
    -moz-animation: 700ms blinkBackspace step-end infinite;
    -ms-animation: 700ms blinkBackspace step-end infinite;
    -o-animation: 700ms blinkBackspace step-end infinite;
    animation: 700ms blinkBackspace step-end infinite;
}

@keyframes blink {
    from, to {
        background: transparent;
        color: transparent;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-moz-keyframes blink {
    from, to {
        background: transparent;
        color: transparent;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-webkit-keyframes blink {
    from, to {
        background: transparent;
        color: transparent;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-ms-keyframes blink {
    from, to {
        background: transparent;
        color: transparent;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-o-keyframes blink {
    from, to {
        background: transparent;
        color: transparent;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@keyframes blinkBackspace {
    from, to {
        color: #EDF2F4;
    }
    50% {
        color: transparent;
    }
}

@-moz-keyframes blinkBackspace {
    from, to {
        background: transparent;
        color: #2B2D42;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-webkit-keyframes blinkBackspace {
    from, to {
        background: transparent;
        color: #2B2D42;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-ms-keyframes blinkBackspace {
    from, to {
        background: transparent;
        color: #2B2D42;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}

@-o-keyframes blinkBackspace {
    from, to {
        background: transparent;
        color: #2B2D42;
    }
    50% {
        background: #EF233C;
        color: #EDF2F4
    }
}