.navbar {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
    padding-left: 15% !important;
    padding-right: 15% !important;
    background-color: #EF233C !important;
    border-bottom: 4px solid #D90429 !important;
}

navbar-light {
    background-color: #EF233C !important;
}

.navbar-brand {
    color: #EDF2F4 !important;
}

.navbar-brand:hover {
    color: white !important;
}

.nav-link {
    color: #EDF2F4 !important;
}

.nav-link:hover {
    color: white !important;
}

.logo {
    margin-right: 10px;
}